{% extends 'base.html.twig' %}

{% block title %}Hello DecorationWebsiteController!
{% endblock %}

{% block body %}

  <div class="container py-3">

    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for category in categories if not category.parent %}
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">{{ category.Name }}</a>
              <ul class="dropdown-menu">
              {% for subcategory in category.children %}
                <li><a class="dropdown-item" href="#">{{ subcategory.Name }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>


  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
      </p>
    </div>
  </div>


  <div class="container">
    <h1>
      Les Produits
    </h1>

    <section class="products">
      <div class="row w-12">
        {% if products is defined %}
          {% for product in products %}

            {% if product.image is defined %}


              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <img src="{{ product.image }}" height="200" width="200" alt="{{ product.title }}">
                <div class="d-flex justify-content-center">
                  {{ product.price}}
                  €
                </div>
              </div>

              {# class="img-fluid" #}

            {% endif %}
            {# <a href= {{ path('decoration_website_product', {id_category : id_parent_category, id_sub_category : product.category.id, id_product : product.id }) }}> Lien vers le produit  : {{ product.title }} </a>       #}

          {% endfor %}
        {% endif %}
      </div>
    </section>
  </div>

{% endblock %}
