{% extends 'base.html.twig' %}

{% block title %}Hello DecorationWebsiteController!{% endblock %}

{% block body %}
<h1> Les Produits </h1>

    <section class="products">

        {% if products is defined %}
        {% for product in products %}
        <p>
            <p> {{ product.title}}  </p>
            <p> {{ product.brand}}  </p>
            <p> {{ product.description}}  </p> 
            <a href= {{ path('decoration_website_product', {id_category : id_parent_category, id_sub_category : product.category.id, id_product : product.id }) }}> Lien vers le produit  : {{ product.title }} </a>      

        {% endfor %}
        {% endif %}
    </section>

{% endblock %} 
