{% extends 'adminTemplate.html.twig' %}

{% block title %}Hello ProductFormController!{% endblock %}

{% block body %}
{% if product.title != '' %}
<h3>Edition du produit</h3>
{% else %}
<h3>Ajout du produit</h3>
{% endif %}
        {{ form_start(form) }}
        {{ form_row(form.Title) }}
        {{ form_row(form.Brand) }}
        {{ form_row(form.Description) }}
        {{ form_row(form.URLaffiliation) }}
        <button type="submit">save</button>
        {{ form_end(form) }}
{% endblock %}


