<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/1aff79255e.js"></script>
        {% block stylesheets %}
            {# Artgris FileManager #}
            <link rel="stylesheet" href="{{ asset('bundles/artgrisfilemanager/libs/blueimp-file-upload/css/jquery.fileupload.css') }}">
            {# Import fengyuanchen/cropper #}
            <link rel="stylesheet" href="{{ asset('bundles/artgrismedia/libs/cropperjs-1.4.1/cropper.min.css') }}">
            {# Then the default bundle's CSS #}
            <link rel="stylesheet" href="{{ asset('bundles/artgrismedia/css/media.css') }}">
        {% endblock %}
    </head>
    <body> 
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('home') }}">Site de décoration</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                </li>
                {% if not app.user %}
                <li class="nav-item">
                    <a href="{{ path('security_login') }}" class="nav-link">
                    Connexion
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ path('security_logout') }}" class="nav-link">
                    Déconnexion
                    </a>
                </li>
                {% endif %}
                </ul>
            </div>
        </nav>

<div class="container">    
<div class="row">
<div class="wrapper col-4">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Partie administrateur</p>
            <li>
                <a href="{{ path('adminCategories') }}">Les catégories</a>
            </li>
            <p><font size="2">Liste/Création/Modification/Suppression
            ________________________________</font></p>
            <li>
                <a href="{{ path('adminSubCategories') }}">Les sous-catégories</a>
            </li>
            <p><font size="2">Liste/Création/Modification/Suppression
            ________________________________</font></p>
            <li>
                <a href="{{ path('adminProducts') }}">Les produits</a>
            </li>
            <p><font size="2">Liste/Création/Modification/Suppression
            ________________________________</font></p>
            <li>
            <a href="{{ path('categoryForm') }}">Créer une catégorie</a>
            <p><font size="2">________________________________</font></p>
            </li>
            <li>
            <a href="{{ path('subCategoryForm') }}">Créer une sous-catégorie</a>
            <p><font size="2">________________________________</font></p>
            </li>
            <li>
            <a href="{{ path('productForm') }}">Créer un produit</a>
            <p><font size="2">________________________________</font></p>
            </li>
        </ul>
    </nav>
</div>

    {% block body %}{% endblock %}

</div>
        {% block javascripts %}
        {# jQuery #}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        {#  Bootstrap #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        {#  Jqueri UI #}
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        {# jquery.collection.js #}
        <script type="text/javascript" src="{{ asset('assets/js/jquery.collection.js') }}"></script>
        {# Import fengyuanchen/cropper #}
        <script src="{{ asset('bundles/artgrismedia/libs/cropperjs-1.4.1/cropper.min.js') }}"></script>
        {% endblock %}
        {# Then the default bundle's JavaScript: #}
        {% include '@ArtgrisMedia/assets/include_js.html.twig' %}
    </body>
</html>
