{% extends 'base.html.twig' %}

{% block title %}Hello DecorationWebsiteController!{% endblock %}

{% block body %}
<h1> Le super Blog de MicheMiche </h1>

    <section class="products">

        {% if products is defined %}
        {% for product in products %}
        <product>
            <h2>{{ product.title }}</h2>
            <div class="yoyoYayaYuyu">
            <p>Marque de : {{ product.brand }}</p>
            {# <p><img src="{{ product.photos }}" alt=""></p> #}
            <p>{{ product.description | raw }}</p>
            <p><a href="{{ product.urlaffiliation }}" class="btn btn-primary">Le lien d'affiliation !!!!</a></p>
            </div>
        </product>
        {% endfor %}
        {% endif %}
    </section>

{% endblock %} 
